# Фласк
flask==3.1.0
flask-cors==5.0.1

# Сетевые запросы
requests==2.32.3

# Работа с координатами (WGS84, UTM)
pyproj==3.7.1
geopy==2.4.1

# Геометрия и топология
shapely==2.1.0

# Визуализация на карте
folium==0.19.5

# Для численных вычислений
numpy==2.2.4

python-dotenv==1.0.1