# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# cache
__pycache__/

# misc
.gitignore
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
.idea/

npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Файлы маршрута
backend/mission_handler/mission_map.html
backend/mission_handler/offset_route.json

# Файлы с исследовательским анализом данных
/backend/*.ipynb

# .txt и .md
k8s-deployment_instructions.txt
k8sss.txt
minikube_deploy_final.txt
observability_instructions.txt
/backend/docker.md

