.gps-marker {
    position: relative;
    width: 32px;
    height: 32px;
    background-color: transparent;
}

.gps-marker::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 32px;
    height: 30px;
    background: rgba(255, 0, 0, 0.8); /* Цвет внутренней части маркера */
    clip-path: polygon(50% 0%, 100% 100%, 50% 80%, 0% 100%); /* Форма стрелки */
    transform: translate(-50%, -50%); /* Центрирование маркера */
    box-sizing: border-box;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.custom-map-controls {
    position: absolute !important;
    bottom: -25px !important;
    left: 19.2% !important;
    right: auto !important;
    top: auto !important;

    display: flex;
    flex-direction: column; /* Выстроить кнопки вертикально */
    align-items: center;
    transform: rotate(90deg); /* Повернуть контейнер */
    transform-origin: center;
}

.custom-map-controls button {
    transform: rotate(-90deg); /* Вернуть кнопки в нормальный вид */
}