.custom-map-controls {
    position: fixed !important;
    bottom: -806px !important;
    left: -2513px !important;
    border-radius: 0 !important;
    display: flex;
    flex-direction: column; /* Выстроить кнопки вертикально */
    align-items: center;
    transform: rotate(90deg) scale(1.21); /* Повернуть контейнер */
    transform-origin: center;
    padding: 0;
    margin: 0;
    gap: 5px;
    /*transform-origin: center;*/
}


.custom-map-controls button {
    transform: rotate(-90deg); /* Вернуть кнопки в нормальный вид */
    border-radius: 0 !important;
}


.mapboxgl-ctrl-group.mapboxgl-ctrl {
    transform: scale(1) translateX(0px) !important;
    border-radius: 0 !important;
    margin: 0 6px !important;
    /* можно добавить другие стили, если требуется */
}

